header {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #CCCCCC;
	background-color: white;
	display: flex;
	background-image: url("../images/logo.png") no-repeat center;
}
header.logo {
	margin-left: 20px;
}
